.Selection {
  width: 900px;
  height: 600px;
}

.select_maket_card {
  box-sizing: border-box;
  width: 150px;
  height: 150px;
  border: 1px solid rgba(1,1,1,.9);
  border-radius: 50%;
  background: linear-gradient(180deg, rgba(58, 132, 240, 0.3) 0%, rgba(27, 60, 99, 0.3) 100%);
}